@import "tailwindcss";

:root {
    --primary-50: #e6f5f5;
    --primary-100: #c0e8e8;
    --primary-200: #8fd1d1;
    --primary-300: #5ab8b8;
    --primary-400: #2b9999;
    --primary-500: #096c6c;
    --primary-600: #075858;
    --primary-700: #054444;
    --primary-800: #033030;
    --primary-900: #011e1e;
    --accent-50: #fff8e6;
    --accent-100: #ffedb8;
    --accent-200: #ffd980;
    --accent-400: #F0BB62;
    --accent-600: #f5aa00;
    --accent-800: #c47e00;
    --accent-900: #3d2700;
    --text-50: #F1F5F9;
    --text-100: #E2E8F0;
    --text-200: #CBD5E1;
    --text-300: #94A3B8;
    --text-400: #64748B;
    --text-500: #475569;
    --text-600: #334155;
    --text-700: #1E293B;
    --text-800: #0F172A;
    --text: #1C2B3A;
    --surface: #F0F7FF;
    /* --surface: #F2F2FF; */
    --card: #FFFFFF;
    --background: var(--surface);
    --foreground: var(--primary-950);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);
    --color-accent-50: var(--accent-50);
    --color-accent-100: var(--accent-100);
    --color-accent-200: var(--accent-200);
    --color-accent-300: var(--accent-300);
    --color-accent-400: var(--accent-400);
    --color-accent-500: var(--accent-500);
    --color-accent-600: var(--accent-600);
    --color-accent-700: var(--accent-700);
    --color-accent-800: var(--accent-800);
    --color-accent-900: var(--accent-900);
    --color-accent-950: var(--accent-950);
    --color-text-50: var(--text-50);
    --color-text-100: var(--text-100);
    --color-text-200: var(--text-200);
    --color-text-300: var(--text-300);
    --color-text-400: var(--text-400);
    --color-text-500: var(--text-500);
    --color-text-600: var(--text-600);
    --color-text-700: var(--text-700);
    --color-text-800: var(--text-800);
    --color-text: var(--text);
    --color-surface: var(--surface);
    --color-card: var(--card);
    --font-sans: var(--font-outfit);
}